<!Doctype HTML>
<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/main.js"></script>
	<title>Create Team</title>
</head>
<body>
	<div class="container">
		<h1>Create A New Team</h1>

		<form id="form">
			Team Name: <input type="text" name="name"><br>
			City: <input type="text" name="city"><br>
			Coach: <input type="text" name="coach"><br>
<!-- 			Players: <input type="text" name="name"><br> -->
			<input id="button" type="button" value="Submit">
		</form>
	</div>

</body>
</html>