<!Doctype HTML>
<html>
<head>
	<link rel="stylesheet" href="/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<title>Football Teams</title>
</head>
<body>
	<div class="container">
		<h1>NFL Teams</h1>
		 <% if(teams.length) { %>
			<% teams.forEach(function(team) { %>
				<h2>Name: <%= team.name %> </h2>
				<h2>City: <%= team.city %> </h2>
				<h2>Coach: <%= team.coach %> </h2>

				<br>
			<% }) %>
		 <% } %>
	</div>
</body>
</html>