<!Doctype HTML>
<html>
<head>
	<title>Football Teams</title>
</head>
<body>
	<h1>Teams</h1>
	<br>
	<ul>
		<li>Name: <%= name %></li>
		<li>City: <%= city %></li>
		<li>Coach: <%= coach %></li>
		<li>Players: <%= players %></li>
	</ul>

</body>
</html>