<!Doctype HTML>
<html>
<head>
	<title>Footbal Teams</title>
</head>
<body>
	<h1><%= name %></h1>
	<ul>
		<li>City: <%= city %></li>
		<li>Coach: <%= coach %></li>
	</ul>


	<form>
		Name: <input name="name"></input>	
		Coach: <input name="coach"></input>
		City: <input name="city"></input>
	</form>
</body>
</html>